# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
.next/
out/
g
# Testing
coverage/

# Local env files
.env.local
.env.*.local

# Log files
logs
*.log

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Misc
*.tgz02be